name: Dev Container CI

on:
  pull_request:
    paths:
      - ".devcontainer/**"
  push:
    branches: [main]
    paths:
      - ".devcontainer/**"

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build and test Dev Container
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          runCmd: |
            pnpm exec supabase start
            pnpm exec supabase db reset
            pnpm exec supabase stop
