name: Dev Container CI

on:
  pull_request:
    paths:
      - '.devcontainer/**'
  push:
    branches: [main]
    paths:
      - '.devcontainer/**'

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Build and test Dev Container
        uses: devcontainers/ci@a56d055efecd725e8cfe370543b6071b79989cc8 # v0.3.2000000349
        with:
          runCmd: |
            pnpm exec supabase start
            pnpm exec supabase db reset
            pnpm exec supabase stop
